<!-- add-playlist.component.html -->
<h1>Create New Playlist</h1>

<form [formGroup]="playlistForm" (ngSubmit)="onSubmit()">
  
  <div class="form-group">
    <label for="songName">Song Name</label>
    <input type="text" id="songName" formControlName="songName">
    <div *ngIf="playlistForm.get('songName').hasError('required') && playlistForm.get('songName').touched">
      *Song Name is required.
    </div>
  </div>

  <div class="form-group">
    <label for="genre">Genre</label>
    <select id="genre" formControlName="genre">
      <option value="" disabled selected>Select a Genre</option>
      <option value="Pop">Pop</option>
      <option value="Rock">Rock</option>
      <option value="Jazz">Jazz</option>
      <option value="Classical">Classical</option>
    </select>
    <div *ngIf="playlistForm.get('genre').hasError('required') && playlistForm.get('genre').touched">
      *Genre is required.
    </div>
  </div>

  <div class="form-group">
    <label for="authorName">Author Name</label>
    <input type="text" id="authorName" formControlName="authorName">
    <div *ngIf="playlistForm.get('authorName').hasError('required') && playlistForm.get('authorName').touched">
      *Author Name is required.
    </div>
  </div>

  <div class="form-group">
    <label for="songMovieName">Song Movie Name</label>
    <input type="text" id="songMovieName" formControlName="songMovieName">
    <div *ngIf="playlistForm.get('songMovieName').hasError('required') && playlistForm.get('songMovieName').touched">
      *Song Movie Name is required.
    </div>
  </div>

  <button type="submit" [disabled]="!playlistForm.valid">Add Playlist</button>
</form>

<!-- add-product.component.html
<h1>Create New Book</h1>

<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" id="title" formControlName="title">
      <div *ngIf="productForm.get('title').hasError('required') && productForm.get('title').touched">
        *Title is required.
      </div>
    </div>
  
    <div class="form-group">
        <label for="genre">Genre</label>
        <select id="genre" formControlName="genre">
          <option value="" disabled selected>Select a Genre</option>
          <option value="Fiction">Fiction</option>
          <option value="Non-fiction">Non-Fiction</option>
          <option value="Mystery">Mystery</option>
        </select>
        <div *ngIf="productForm.get('genre').hasError('required') && productForm.get('genre').touched">
          *Genre is required.
        </div>
      </div>
  
    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" formControlName="description"></textarea>
      <div *ngIf="productForm.get('description').hasError('required') && productForm.get('description').touched">
       *Description is required.
      </div>
    </div>
  
    <div class="form-group">
      <label for="publicationYear">Publication Year</label>
      <input type="number" id="publicationYear" formControlName="publicationYear">
      <div *ngIf="productForm.get('publicationYear').hasError('required') && productForm.get('publicationYear').touched">
        *Publication Year is required.
      </div>
      <div *ngIf="productForm.get('publicationYear').hasError('min') && productForm.get('publicationYear').touched">
        *Publication Year must be greater than or equal to 1900.
      </div>
    </div>
  
    <div class="form-group">
      <label for="pageCount">Page Count</label>
      <input type="number" id="pageCount" formControlName="pageCount">
      <div *ngIf="productForm.get('pageCount').hasError('required') && productForm.get('pageCount').touched">
        *Page Count is required.
      </div>
      <div *ngIf="productForm.get('pageCount').hasError('min') && productForm.get('pageCount').touched">
        *Page Count must be greater than 0.
      </div>
    </div>
  
    <div class="form-group">
      <label for="availableCopies">Available Copies</label>
      <input type="number" id="availableCopies" formControlName="availableCopies">
      <div *ngIf="productForm.get('availableCopies').hasError('required') && productForm.get('availableCopies').touched">
        *Available Copies is required.
      </div>
      <div *ngIf="productForm.get('availableCopies').hasError('min') && productForm.get('availableCopies').touched">
        Available Copies must be greater than or equal to 0.
      </div>
    </div>
  
    <button type="submit" [disabled]="!productForm.valid">Add Book</button>
  </form>
  
  
   -->