<!-- login.component.html -->
<h1 class="main-heading">RHYTHM PLAYLISTS HUB</h1>

<div class="login-container">
  <div>
    <img src="../../../assets/playlist.jpg" />
  </div>
  <div class="form-container">
    <h1>Login Form</h1>
    <form (ngSubmit)="onSubmit()">
      <div>
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          [(ngModel)]="email"
          name="email"
          required
        />
      </div>

      <div>
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          [(ngModel)]="password"
          name="password"
          required
        />
      </div>

      <button type="submit">Login</button>

      <div class="signup-link">
        <p>Don't have an account? <a routerLink="/register">Signup</a></p>
      </div>
    </form>
  </div>
</div>
